body, h1, h2, h3, h4, h5{
    margin: 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    background: blue;
    .header-text{

        padding: 30px 0px;
        text-align: center;
        h1, p{
            color: white;
        }
          
    }
}

.menu{
    .nav-menu{
         display: flex;
         justify-content: center;
         gap: 30px;
         margin-top: 30px;
        .menu-item a{
            background: blue;
            color: white;
            padding: 10px 20px;
            display: block;
            border-radius: 8px;
        }
    }
}

.media{
    margin-top: 50px;
}

.text{
    column-count: 3;
    column-gap: 30px;
    column-width: 200px;
}

.my-list {
    list-style-type: disc;
    padding-left: 20px;
}

/* CSS untuk mengatur tampilan kotak 3 kolom */
.three-columns {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 5px;
}
